::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

.main-content{
    height: calc(100vh - 125px);
    overflow-y: scroll;
}

.adm-list-body {
    font-size: 13px;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}